<div class="footer">
    <span>Copyright © <script>document.write(new Date().getFullYear())</script> <%= config.title %></span>
    <span>Powered by <a href="https://github.com/CrazyRyan0812/">CrazyRyan 員外</a></span>
</div>
<%- css('css/a11y-dark.min.css') %>
<%- js('js/highlight.min.js') %>
<%- js('js/highlightjs-line-numbers.js') %>
<script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
</script>
